<div>
  <a href="#!/new">New Friend</a><br><br>
  <!-- <input type="text" placeholder="Filter:Birthday!"> -->
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Show</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="friend in friends">
        <td ng-bind="friend.first_name"></td>
        <td ng-bind="friend.last_name"></td>
        <td ng-bind="friend.birthday | date: dd-MM-yyyy"></td>
        <td><a href="#!/show/{{friend._id}}">Show</a></td>
        <td><a href="#!/edit/{{friend._id}}">Edit</a></td>
        <td><input type="submit" value="Delete" ng-click="delete(friend)"></td>
      </tr>
    </tboday>
  </table>


</div>
